<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
        <meta name="author" content="" />
        <title>달려라, 달구벌</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme css (includes Bootstrap)-->
         <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
   <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">달려라, 달구벌</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">버스정보조회</a></li>
                    <li class="nav-item"><a class="nav-link" href="/select">버스선택</a></li>
                    <li class="nav-item"><a class="nav-link" href="/view_reservation">예약 조회</a></li>
                </ul>
                <form class="d-flex">
                    <button class="btn btn-outline-dark" type="submit" href="login/">
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <!-- Header-->
    <div id="wrap">
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">달려라, 달구벌</h1>
                    <p class="lead fw-normal text-white-50 mb-0">버스 예약 시스템</p>
                </div>
            </div>
        </header>
<h3>회원 예약 정보 출력</h3>
{{ user_id }}님의 예약정보입니다. </br>
{% for data in reservation_list %}
    {{ data['route'] }} </br>
    {{ data['bus_id'] }} </br>
    {{ data['BS_on'] }} </br>
    {{ data['BS_off'] }} </br>
    {{ data['seat'] }} </br>
    {{ data['year'] }}-{{ data['month'] }}-{{ data['day'] }} {{ data['hour'] }}:{{ data['min'] }}
{% endfor %}

<form method="post" action="/delete_reservation">

</form>

</body>
</html>