<!DOCTYPE html>
<html lang="ko">
<head>
    <title>달려라 달구벌</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="../static/assets/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
<div id="wrapper">
  <!-- Header -->
   <header id="header" class="alt">
      <a href="main.html" class="logo"><strong> 달려라 달구별 </strong> <span>by 밥친구들</span></a>
      <nav>
         <a href="#menu">Menu</a>
      </nav>
   </header>

  <!-- Menu -->
   <nav id="menu">
      <ul class="links">
         <li><a href="main.html">Home</a></li>
         <li><a href="landing.html">버스 정보 조회</a></li>
         <li><a href="generic.html">예약버스 예약</a></li>
         <li><a href="elements.html">저상버스 예약</a></li>
      </ul>
      <ul class="actions stacked">
         <li><a href="#" class="button primary fit">예약 조회</a></li>
         <li><a href="#" class="button fit">도움말</a></li>
      </ul>
   </nav>

    <!-- Main -->
    <div id="main" class="alt">
        <!-- One -->
        <section id="one">
            <div class="inner">
                <header class="major">
                    <h1>버스 예약 조회</h1>
                </header>
                <p>아이디와 비밀번호를 입력해주세요.</p>
                <section>
                        <form method="post" action="/view_reservation">
                                <div class="field half">
                                    <label for="user_id">아이디</label>
                                    <input type="text" name="user_id" id="user_id" />
                                </div>
                                <div class="field half">
                                    <label for="user_pw">비밀번호</label>
                                    <input type="text" name="user_pw" id="user_pw" />
                                </div>
                                <button type="submit" class="button primary">예약 조회하기</button>
                        </form>
                        {% if correct == False %}
                        <p>아이디와 비밀번호가 일치하지 않습니다.</p>
                        {% endif %}
                </section>

            </div>
        </section>

        <footer id="footer">
            <div class="inner">
                <ul class="icons">
                    <li><a href="https://github.com/sosschs9/Hackathon_2022" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; 밥친구들</li><li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </footer>

    </div>
</div>

<!-- Scripts -->
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/js/jquery.scrolly.min.js"></script>
    <script src="../static/assets/js/jquery.scrollex.min.js"></script>
    <script src="../static/assets/js/browser.min.js"></script>
    <script src="../static/assets/js/breakpoints.min.js"></script>
    <script src="../static/assets/js/util.js"></script>
    <script src="../static/assets/js/main.js"></script>
</body>
</html>